[user]
	name = Gusztáv Varga
	email = me@gusztavvargadr.me
[diff]
	tool = bc4
[difftool "bc4"]
	cmd = \"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = bc4
[mergetool "bc4"]
	cmd = \"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[core]
	editor = 'C:/Program Files (x86)/Microsoft VS Code/Code.exe'
	autocrlf = true
